

    main{

        figure{

        
            text-align: center;
        

                img{
            
                    margin: 0px 0px 0px 2%;
                    border-radius: 3%;
                    box-shadow: 0 0 3px #000000;
                    padding: 1%;
                    background-color: #0e0e0e42;
                    height: 50%;
                    width: 50%;
            
            
                }

                figcaption{
                        
                    
                        p{      
                
                        font-size: larger;
                        text-decoration: underline;
                        text-decoration: solid;  
                    }
            
                }
            }
        }


    
